.s-details {
  padding: $section-padding 0;
  background: $teal;
  color: $white;
}

.s-details__rules {
  margin-bottom: 2em;

  &:last-child {
    margin-bottom: 0;
  }

  ul {
    padding-left: 1em;
    margin-left: 0;
    list-style: circle;
  }

  li {
    padding-bottom: 0.9375em;
    margin-bottom: 0.75em;
    border-bottom: 1px dashed lighten($teal, 20);
  }

  li:last-child {
    padding-bottom: 0;
    border-bottom: 0;
  }

  @include media-ie($breakpoint-ipad) {
    @include span-columns(6);
    margin-bottom: 0;
  }
} // .s-details__rules
