.s-details {
  padding: $section-padding 0;
  background: $teal;
  color: $white;
}

.s-details__rules {
  margin-bottom: 2em;

  &:last-child {
    margin-bottom: 0;
  }

  ul {
    list-style: none;
    margin-left: 0;
  }

  li {
    padding-bottom: 0.6875em;
    margin-bottom: 0.5em;
    border-bottom: 1px dashed lighten($teal, 20);
  }

  li:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }

  @include media-ie($breakpoint-desktop) {
    @include span-columns(6);
    margin-bottom: 0;
  }
} // .s-details__rules
