<section id="footer" class="s-footer">
  <div class="l-constrained">
    <div class="s-footer__logo">
      <%= svg_image_tag "logo-dark", alt: "1 Page Sites" %>
    </div>
    <p class="s-footer__attribution">
      A product of <a href="http://www.lacroixdesign.net/" target="_blank">LaCroix Design Co.</a>
    </p>
  </div>
</section>
