<section id="about" class="s-about b-section">
  <div class="l-constrained">
    <h1>Smart, Simple &amp; Effective</h1>
    <div class="s-about__overview">
      <p>You want a website that communicates with your audience and gets results. A single page site allows for a creative presentation of your content that will looks modern devices. Rather than navigating through numerous pages, visitors to your site will be able to find exactly what they are looking for and make an informed decision.</p>
    </div>
  </div>
</section>
