<section class="s-details b-section">
  <div class="l-constrained">
    <div class="s-details__rules">
      <h1>What You Will Get</h1>
      <ul>
        <li>In three weeks, you will have an eye catching site designed to market your product, service, location or event.</li>
        <li>Your site will be an original design created to best represent your brand and deliver your content to your audience.</li>
        <li>A fast loading site that makes your content look as great on a phone or tablet as it does on a desktop or laptop.</li>
        <li>The opportunity to work with an experienced design studio created to help businesses grow.</li>
        <li>Once the site is launched, we will provide up to one hour of time for any minor edits to the content on your site.</li>
      </ul>
    </div>
    <div class="s-details__rules ie-omega">
      <h1>What You Won't Get</h1>
      <ul>
        <li>Copywriting, custom photography and branding elements are not included. However, we do offer these services and would love to partner with you to create them but it will affect cost and timeline.</li>
        <li>The site will be composed of static content and therefore will not have a content management system. If you would require one, we are well versed in creating these solutions. We could quote out this project for you if needed.</li>
        <li>Hosting is not included. We offer very affordable hosting packages or, we can recommend a solution for you and handle the installation of the site.</li>
        <li>Domain registration is not included. Therefore, you will need to register yours with the registry of your choice or we could recommend one.</li>
      </ul>
    </div>
  </div>
</section>
