<section class="s-features b-section b-section">
  <div class="l-constrained">
    <div class="s-features__tagline">
      <h5>Websites designed to get your product, service, location or event noticed.</h5>
    </div>
    <div class="s-features__display ie-omega">
      <%= image_tag "responsive-display.png", alt: "AIGA Dish Conference 2013 Responsive Website" %>
      <small>
        <%= link_to "AIGA Dish Conference 2013", "http://www.lacroixdesign.net/case-studies/dish-conference-2013/", target: "_blank" %>
      </small>
    </div>
  </div>
  <div class="l-constrained">
    <div class="s-features__item">
      <h2>Get Online Quickly</h2>
      <p>In today's competitive market, your website is a crucial channel for reaching your audience. Through our design process, we will work with you to get a fantastic website online quickly.</p>
    </div>
    <div class="s-features__item">
      <h2>Custom Design</h2>
      <p>Your business is unique so your website should be as well. Each site will be designed specifically for your brand and content. You won't be receiving a pre-made template, it will be a brand new site.</p>
    </div>
    <div class="s-features__item ie-omega">
      <h2>Great On Every Device</h2>
      <p>Your site will look great on any size screen. Using responsive web design, your website will respond and adapt to the browser size to create a great experience on every device.</p>
    </div>
  </div>
</section>
