<section class="s-signup b-section">
  <div class="l-constrained">
    <form
      action="http://1PageSites.us2.list-manage.com/subscribe/post?u=cb74d792445887e99b0a36575&amp;id=cbb225b6bd"
      method="post"
      target="_blank">
      <p>Looking to get the most out of your site? Sign up for our monthly newsletter offering examples and advice to make your next site a success.</p>
      <input type="email" name="EMAIL" placeholder="Your Email Address">
      <button class="btn" type="submit">Subscribe</button>
    </form>
  </div>
</section>
