<section id="start" class="s-start b-section">
  <div class="l-constrained">

    <h1>How to Get Started</h1>

    <ol class="s-start__steps">
      <li>Fill out the <a href="<%= data.urls.start_project %>" class="typeform-share" target="_blank">project starter form</a> or send us an email at <a href="<%= data.site.contact_email %>">Hello@1PageSites.net</a>.</li>
      <li>You will be contacted with some questions about your goals for the project.</li>
      <li>We will assesses your answers and you will receive a proposal outlining the project.</li>
      <li class="old-ie-alpha">Once accepted, we will work with you to finalize content for the site.</li>
      <li>We will build a live working prototype of your site.</li>
      <li>Once approved, we will launch your brand new site.</li>
    </ol>

    <div class="s-start__cta">
      <%= component "cta-button" %>
    </div>

  </div>
</section>
