<section class="s-studio b-section">
  <div class="l-constrained">
    <div class="s-studio__description">
      <h1>Why You Should Choose Us</h1>
      <p>Our studio was created to help businesses achieve their goals. For businesses both large and small, a website is an investment and it should yield your business a greater return. We don't just want to give you a spot on the web, we ultimately want to create the right site that helps to make your business grow. Since 2005, we have closely worked with our clients to learn about what they do so that we can create products that successfully engage and communicate with their audience effectively.</p>
      <p>
        <%= link_to "Browse Our Portfolio", "http://www.lacroixdesign.net/", target: "_blank", class: "btn-primary" %>
      </p>
    </div>
    <div class="s-studio__team ie-omega">
      <div class="s-team-member">
        <a href="http://www.lacroixdesign.net/team/james-lacroix/" target="_blank">
          <div class="s-team-member__avatar">
            <%= image_tag "james.jpg", alt: "James LaCroix" %>
          </div>
          <div class="s-team-member__info">
            <h5 class="s-team-member__name">James LaCroix</h5>
            <h6 class="s-team-member__title">Designer &amp; Founder</h6>
          </div>
        </a>
      </div>
      <div class="s-team-member">
        <a href="http://www.lacroixdesign.net/team/michael-lacroix/", target="_blank">
          <div class="s-team-member__avatar">
            <%= image_tag "michael.jpg", alt: "Michael LaCroix" %>
          </div>
          <div class="s-team-member__info">
            <h5 class="s-team-member__name">Michael LaCroix</h5>
            <h6 class="s-team-member__title">Developer</h6>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
