$white:        #ffffff;
$off-white:    #fafaf7;
$medium-white: #f4f4ee;
$dark-white:   #eeeee9;
$green:        #1bb38d;
$orange:       #e66d17;
$teal:         #3ea9b3;
$navy:         #244566;
$black:        #3d3e40;
$grey:         #d9d9d9;
$light-grey:   #e9e9e9;
$yellow:       #ffdb26;
