// Typefaces

$typeface-sans:  "ratio", "Helvetica Neue", Helvetica, Arial, sans-serif;
$typeface-serif: "quatro-slab", Georgia, Cambria, "Times New Roman", Times, serif;

$black-font-weight: 900;

$body-copy-color: inherit;
$heading-color: inherit;
